@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,200;1,500&display=swap');

*{
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

.headerNav{
  border-bottom: 1px solid violet;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo{
  margin: 0 0 0 0;
  padding: 10px;
  text-align: center;
}

.signin-links{
  margin: 10px;
  padding: 10px;  
  position: absolute;
  right: 20px;
  
}

.signin-link{
  padding: 0 20px 0 20px;
  color: rgb(0, 0, 0);
}

.companyHeading{
  margin:10% 0 0 25%;
  font-size: xx-large;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

#loginBox{
  position: fixed;
  left: 50%; top: 50%; 
  transform: translateY(-50%) translateX(-50%);
  border: 1px solid rgb(49, 14, 229);
  outline: 2px solid green;
  padding: 30px;
}


#list-nav{
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 20px;
  height: 100%;
  width: 10%;
  background-color: rgba(11, 103, 185, 0.663);
}

.list-Nav-Btn{
  padding: 20px 0;
  color: white;
}

.table-btn{
  margin: 3% 0 0 12%;
}

.table-list{
  margin: 0 2% 0 12%;
}

.label{
  color: rgba(7, 230, 67, 0.927);
}


















